<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system"
    android:sharedUserMaxSdkVersion="32">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 添加蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android 12及以上需要的蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <application
        android:name=".AndroidTestApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".gesturedetector.GestureDetectorActivity"
            android:exported="true">

        </activity>
        <activity android:name=".rxjava.RxjavaActivity">

        </activity>
        <activity android:name=".touchevent.TouchEventActivity">

        </activity>

        <activity android:name=".kotlin.coroutine.CoroutineActivity">

        </activity>

        <activity android:name=".kotlin.coroutine.OkHttpActivity">

        </activity>
        <activity android:name=".customctrlres.cp1.CustomCtrlResOneActivity">

        </activity>
        <activity android:name=".retrofit.RetrofitActivity">

        </activity>

        <activity android:name=".jetpack.lifecycle.LifecycleActivity">

        </activity>
        <activity android:name=".jetpack.livedata.LiveDataActivity">

        </activity>

        <activity android:name=".jetpack.viewmodel.ViewModelActivity">

        </activity>
        <activity android:name=".fragment.FragmentTestActivity">

        </activity>
        <activity android:name=".compose.ComposeActivity">

        </activity>
        <activity android:name=".radiogroup.GroupActivity">

        </activity>
        <activity android:name=".coil.CoilActivity">

        </activity>
        <activity android:name=".view.ViewActivity">

        </activity>
        <activity android:name=".indexbar.IndexBarActivity">

        </activity>
        <activity android:name=".myindexbar.ContactIndexActivity">

        </activity>

        <service
            android:name=".WeatherService"
            android:enabled="true"
            android:exported="true">

        </service>
    </application>

</manifest>